[submodule "libs/bsl"]
	path = libs/bsl
	url = https://github.com/bloodredtape/bsl
[submodule "libs/cpp-httplib"]
	path = libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libs/inih"]
	path = libs/inih
	url = https://github.com/benhoyt/inih.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/tgbot-cpp"]
	path = libs/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
